.producerList {
  width: 55%;
  margin: 0 auto;
}

.producerBlurb {
  padding: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.producerContact {
  text-align: center;
}

@media only screen and (max-width: 420px) {
  .producerList {
    width: 95%;
  }
}
