.producerList {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  background: #f5f4f4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.contactList {
  background: #fff;
  list-style: none;
  padding: 1rem;
  margin: 0rem;
  margin-bottom: 1.5rem;
}

.contactList span {
  font-weight: bold;
}

.producerBody {
  font-weight: bold;
}

.tag {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  color: #fff;
  background: #0d5c63;
}

.heading {
  display: flex;
  justify-content: space-between;
}

iframe {
  width: 100%;
}

@media only screen and (max-width: 440px) {
  .producerList {
    width: 95%;
  }
  .contactList {
    padding: 0.5rem;
  }
  .heading {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
