.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
}

.main {
  padding: 3rem;
  flex: 1;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  padding: 1rem 0rem 0rem 1rem;
  background: #808080;
}

.footer,
.footer a {
  color: #dbdada;
}

@media only screen and (max-width: 420px) {
  .main {
    padding: 0.5rem;
  }
  .layout {
    width: 100%;
  }
}
