.linkContainer {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

a {
  width: 45%;
}

.link {
  width: 100%;
  height: 300px;
  padding: 2rem 3rem;
  border: 2px solid #dbdada;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background: #dbdada;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  color: #2d2d2d;
  text-align: center;
}

.link svg {
  font-size: 2rem;
  margin: 0.5rem;
}

.link:hover,
.link:active {
  transform: scale(1.05);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.shoppingIcon {
  font-size: 2.5rem;
}

@media only screen and (max-width: 420px) {
  .linkContainer {
    flex-direction: column;
    width: 100%;
  }
  a {
    width: 90%;
    margin: 1rem;
  }
}
